<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>common</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}">
</head>
<body>
<div th:fragment="script">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/layer/layer.js}"></script>
</div>
</body>
</html>