<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- 添加admin模态框 -->
<div class="modal fade" id="modal-admin-save" tabindex="-1" role="dialog" aria-labelledby="modal-title-admin-save"
     th:fragment="modal-admin-save">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title-admin-save">新增用户</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="ipt-save-username">用户昵称</label>
                            <input type="text" class="form-control" id="ipt-save-username" name="userName"
                                   placeholder="请输入用户昵称">
                            <p class="help-block"></p>
                        </div>
                        <div class="form-group">
                            <label for="ipt-save-loginAcct">登录账号</label>
                            <input type="text" class="form-control" id="ipt-save-loginAcct" name="loginAcct"
                                   placeholder="请输入账号">
                            <p class="help-block"></p>
                        </div>
                        <div class="form-group">
                            <label for="ipt-save-password">登录密码</label>
                            <input type="password" class="form-control" id="ipt-save-password" name="userPswd"
                                   placeholder="请输入密码">
                            <p class="help-block"></p>
                        </div>
                        <div class="form-group">
                            <label for="ipt-save-password-cfm">确认密码</label>
                            <input type="password" class="form-control" id="ipt-save-password-cfm"
                                   placeholder="请输入确认密码">
                            <p class="help-block"></p>
                        </div>
                        <div class="form-group">
                            <label for="ipt-save-email">邮箱地址</label>
                            <input type="email" class="form-control" id="ipt-save-email" name="email"
                                   placeholder="请输入邮箱。注意邮箱格式">
                            <p class="help-block"></p>
                        </div>
                        <button type="reset" id="btn-admin-reset0" hidden></button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" id="btn-admin-reset" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改admin模态框 -->
<div class="modal fade" id="modal-admin-update" tabindex="-1" role="dialog" aria-labelledby="modal-title-admin-update"
     th:fragment="modal-admin-update">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title-admin-update">修改用户</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="ipt-update-loginAcct">账号</label>
                            <input type="text" class="form-control" id="ipt-update-loginAcct" disabled>
                            <p class="help-block"></p>
                        </div>
                        <div class="form-group">
                            <label for="ipt-update-username">用户昵称</label>
                            <input type="text" class="form-control" id="ipt-update-username" name="username">
                            <p class="help-block"></p>
                        </div>
                        <div class="form-group">
                            <label for="ipt-update-email">邮箱地址</label>
                            <input type="email" class="form-control" id="ipt-update-email" name="email">
                            <p class="help-block"></p>
                        </div>
                        <div>
                            <input type="hidden" id="ipt-update-id">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑role模态框 -->
<div class="modal fade" id="modal-role" tabindex="-1" role="dialog" aria-labelledby="modal-title-role"
     th:fragment="modal-role">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title-role">新增角色</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="ipt-role-name">角色名称</label>
                            <input type="text" class="form-control" id="ipt-role-name" name="name"
                                   placeholder="请输入角色名称">
                            <p class="help-block"></p>
                        </div>
                        <input type="hidden" name="id" disabled/>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 删除确认模态框 -->
<div class="modal fade" id="modal-remove" tabindex="-1" role="dialog" aria-labelledby="modal-title-remove"
     th:fragment="modal-remove">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title-remove">请确认是否要删除以下数据：</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove"></i> 取消
                </button>
                <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> 确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 新增/编辑节点模态框 -->
<div class="modal fade" id="modal-node" tabindex="-1" role="dialog" aria-labelledby="modal-title-node"
     th:fragment="modal-node">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title-node">新增节点</h4>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        节点名称：<input type="text" id="ipt-node-name" class="form-control" name="name"/>
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        节点URL：<input type="text" id="ipt-node-url" class="form-control" name="url"/>
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group" id="ipt-node-icon">
                        <i class="glyphicon glyphicon-th-list"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-th-list"/>
                        &nbsp;
                        <i class="glyphicon glyphicon-dashboard"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-dashboard"/>
                        &nbsp;
                        <i class="glyphicon glyphicon glyphicon-tasks"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon glyphicon-tasks"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-user"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-user"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-king"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-king"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-lock"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-ok"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-ok"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-check"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-check"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-th-large"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-th-large"/>
                        <br/>

                        <i class="glyphicon glyphicon-picture"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-picture"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-equalizer"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-equalizer"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-random"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-random"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-hdd"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-hdd"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-comment"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-comment"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-list"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-list"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-tags"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-tags"/>
                        &nbsp;

                        <i class="glyphicon glyphicon-list-alt"></i>
                        <input type="radio" name="icon" value="glyphicon glyphicon-list-alt"/>
                        &nbsp;
                        <p class="help-block"></p>
                    </div>
                    <input type="hidden" id="ipt-node-id" name="id"/>
                    <button id="btn-node-reset0" type="reset" hidden></button>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-node-reset" type="reset" class="btn btn-primary">
                    <i class="glyphicon glyphicon-refresh"></i> 重置
                </button>
                <button id="btn-node-save" type="button" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i> 保存
                </button>
            </div>

        </div>
    </div>
</div>

<!-- 权限分配模态框 -->
<div class="modal fade" id="modal-assign" tabindex="-1" role="dialog" aria-labelledby="modal-title-assign"
     th:fragment="modal-assign">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title-assign"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove"></i> 取消
                </button>
                <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> 确定</button>
            </div>
        </div>
    </div>

    <div hidden>
        <form id="form-assign-role" role="form" class="form-inline">
            <div class="form-group">
                <label for="select-unassignedRoles">未分配角色列表</label><br>
                <select id="select-unassignedRoles" class="form-control" multiple size="10" style="width:100px;overflow-y:auto;">
                </select>
            </div>
            <div class="form-group" style="margin-left:40px;">
                <div id="btn-group-role-assigned" class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-default glyphicon glyphicon-chevron-right"></button>
                    <button type="button" class="btn btn-default glyphicon glyphicon-chevron-left"></button>
                </div>
            </div>
            <div class="form-group" style="margin-left:40px;">
                <label for="select-assignedRoles">已分配角色列表</label><br>
                <select id="select-assignedRoles" class="form-control" name="roleId" multiple size="10" style="width:100px;overflow-y:auto;">
                </select>
            </div>
            <input id="ipt-assign-adminId" type="hidden" name="adminId"/>
        </form>

        <form id="form-assign-auth">
            <ul id="tree-data" class="ztree"></ul>
        </form>
    </div>
</div>
</body>
</html>