<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/error::head}">
    <title>500</title>
</head>

<body class="error-page">

<section>
    <div class="container ">

        <section class="error-wrapper text-center">
            <h1><img alt="" th:src="@{/static/img/500-error.png}" src="/static/img/500-error.png"></h1>
            <h2 th:text="${error}"></h2>
            <h3 th:text="${message}"></h3>
            <p class="nrml-txt">试试重新刷新页面？如果问题仍然存在，您可以<a href="#">联系我们</a></p>
            <a class="back-btn" href="#" onclick="window.history.back()">返回上一步</a>
        </section>
    </div>
</section>

<div th:replace="~{common/error::script}"></div>

<!--common scripts for all pages-->
<!--<script src="js/scripts.js"></script>-->

</body>
</html>
