<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户维护</title>

    <link th:replace="~{/common/admin-main-common::head}"/>
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">众筹平台 - 用户维护</a></div>
        </div>
        <div th:replace="~{/common/admin-main-common::main-menu-head}"></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" th:insert="~{/common/admin-main-common::main-menu-left}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查询条件</div>
                                <input class="form-control has-success" id="ipt-keyword" type="text" name="keyword" placeholder="请输入查询条件">
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning" id="btn-keyword-select">
                            <i class="glyphicon glyphicon-search"></i> 查询
                        </button>
                    </form>
                    <button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><i
                            class=" glyphicon glyphicon-remove"></i> 删除
                    </button>
                    <button type="button" class="btn btn-primary" style="float:right;" id="btn-admin-save">
                        <i class="glyphicon glyphicon-plus"></i> 新增
                    </button>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tbl-users">
                            <thead>
                            <tr>
                                <th width="30">#</th>
                                <th width="30"><input type="checkbox"></th>
                                <th>账号</th>
                                <th>名称</th>
                                <th>邮箱地址</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <!--<tbody th:if="*{total != 0}">
                            <tr th:each="admin : *{records}">
                                <td th:text="${admin.id}"></td>
                                <td><input type="checkbox"></td>
                                <td th:text="${admin.loginAcct}"></td>
                                <td th:text="${admin.userName}"></td>
                                <td th:text="${admin.email}"></td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs"><i
                                            class=" glyphicon glyphicon-check"></i></button>
                                    <button type="button" class="btn btn-primary btn-xs"><i
                                            class=" glyphicon glyphicon-pencil"></i></button>
                                    <button type="button" class="btn btn-danger btn-xs"><i
                                            class=" glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody th:if="*{total == 0}">
                            <tr><td colspan="6">没有查询到数据</td></tr>
                            </tbody>-->
                            <!-- 在此显示用户信息 -->
                            <tbody size="0" total="0">
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" align="center">
                                    <!-- 在此标签内显示分页数据 -->
                                    <div id="Pagination" class="pagination">

                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- 新增admin模态框 -->
    <div class="modal fade" id="modal-admin-save" tabindex="-1" role="dialog" aria-labelledby="admin">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="admin">新增用户</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="ipt-username">用户昵称</label>
                                <input type="text" class="form-control" id="ipt-username" name="userName" placeholder="请输入用户昵称">
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group">
                                <label for="ipt-loginAcct">登录账号</label>
                                <input type="text" class="form-control" id="ipt-loginAcct" name="loginAcct" placeholder="请输入账号">
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group">
                                <label for="ipt-password">登录密码</label>
                                <input type="password" class="form-control" id="ipt-password" name="userPswd" placeholder="请输入密码">
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group">
                                <label for="ipt-password-cfm">确认密码</label>
                                <input type="password" class="form-control" id="ipt-password-cfm" placeholder="请输入确认密码">
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group">
                                <label for="ipt-email">邮箱地址</label>
                                <input type="email" class="form-control" id="ipt-email" name="email" placeholder="请输入邮箱。注意邮箱格式">
                                <p class="help-block"></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 确定</button>
                    <button type="reset" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/common/admin-main-common::script}"></div>
<script type="text/javascript">
    ajaxReqURL = "/admin/main/user";

	$(function(){
		// 页面初始化
		sendAjaxToGetUser({current: 1});

		// 查询框单击事件
		$("#btn-keyword-select").click(function(){
			var keyword = $("#ipt-keyword").val();

			if(keyword == null || keyword.length === 0){
				alert("请输入查询条件！");
				return false;
			}

			sendAjaxToGetUser({current: 1, keyword: keyword});
        });

        // 删除单条记录
        $("tbody").on("click", " i[class*=glyphicon-remove]", function(){
			var id = $(this).parents("tr").children("td:first").text();
			var acct = $(this).parents("tr").children("td:eq(2)").text();

			if(!confirm("确定删除" + acct + "？")) return false;

			$.ajax({
				url: ajaxReqURL + id,
				type: "POST",
				data: {_method: "DELETE"},
				success: function(json){
					var current = $("#Pagination").children("span[class=current]").text();
					var keyword = $("#ipt-keyword").val();
					sendAjaxToGetUser({current: current, keyword: keyword});
					alert(json.message);
				},
				error: function(json){
					alert("删除失败！原因：" + json.message);
				},
				dataType: "json",
			});
        });

		// 新增按钮单击弹出模态框
		$("#btn-admin-save").click(function(){
            $("#modal-admin-save").modal({backdrop: false});
		});

		// 以下为模态框表单失去焦点事件
		$("#ipt-username").blur(function(){
			var username = $(this).val();
			var regex = /^[\u4E00-\u9FA5A-Za-z0-9_]{4,12}$/;
			updateFormGroup(regex.test(username), "昵称必须由字母数字下划线组成，并且长度在4~12之间！", $(this));
		});
		$("#ipt-loginAcct").blur(function(){
            var loginAcct = $(this).val();
		    var regex = /^[A-Za-z0-9]{8,16}$/;

			updateFormGroup(regex.test(loginAcct), "账号只能由字母和数字组成，并且长度在8~16之间！", $(this));
		});
		$("#ipt-password").blur(function(){
			var password = $(this).val();
			var regex = /^.{6,18}$/;
			updateFormGroup(regex.test(password), "密码长度必须在6~18位之间！", $(this));
        });
		$("#ipt-password-cfm").blur(function(){
            var passwordCfm = $(this).val();
			var password = $("#ipt-password").val();
			var state = false;
			var message = "";

			if(password.length < 1) message = "请输入密码！";
			else if(passwordCfm !== password) message = "确认密码与密码不一致！";
			else state = true;

			updateFormGroup(state, message, $(this));
		});
		$("#ipt-email").blur(function(){
			var email = $(this).val();
			var regex = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
			updateFormGroup(regex.test(email), "邮箱格式不正确！", $(this));
        })

        // 新增用户表单提交
        $("#modal-admin-save .modal-footer").children(".btn-success").click(function(){
			var form = $("#modal-admin-save form");
            var formGroup = form.children("div[class*=form-group]");
            var hasSuccess = form.children("div[class*=has-success]");

			// 如果表单项与成功项数量不一致，阻止提交
			if(formGroup.length !== hasSuccess.length){
				formGroup.children("input").blur();
				return false;
            }

			// 发送请求，添加admin
			$.ajax({
                url: ajaxReqURL,
				type: "POST",
                data: form.serialize(),
                success: function(json){
					alert(json.message);
					$("#modal-admin-save").modal("hide");

					// 跳转到最后一页
					var current = $("#Pagination").children(":eq(-2)").text();
					var body = $("#tbl-users>tbody");
					if(body.attr("total") % body.attr("size") === 0) current++;
					sendAjaxToGetUser({current: current});
                },
                error: function(json){

					// 提示错误消息
					json = JSON.parse(json.responseText);
                    updateFormGroup(false, json.message, $("#ipt-loginAcct"));
                }
            });

		});
	});

	// 统一发送GET:/admin/main/user的请求
	function sendAjaxToGetUser(data){

		$.ajax({
			url: ajaxReqURL,
			type: "GET",
			data: data,
			success: updateUser,
			dataType: "json"
		});

    }

	// 获取json后更新表单内容
	function updateUser(json){
		var user_tbl = $("#tbl-users").children("tbody");
		user_tbl.empty();
		var page = json.data.adminPage;

        for(var i=0; i<page.records.length; i++){
            var admin = page.records[i];

            $("<tr>\n" +
                "<td>" + admin.id + "</td>\n" +
                "<td><input type=\"checkbox\"></td>\n" +
                "<td>" + admin.loginAcct + "</td>\n" +
                "<td>" + admin.userName + "</td>\n" +
                "<td>" + admin.email + "</td>\n" +
                "<td>\n" +
                "<button type=\"button\" class=\"btn btn-success btn-xs\"><i class=\" glyphicon glyphicon-check\"></i></button>\n" +
                "<button type=\"button\" class=\"btn btn-primary btn-xs\"><i class=\" glyphicon glyphicon-pencil\"></i></button>\n" +
                "<button type=\"button\" class=\"btn btn-danger btn-xs\"><i class=\" glyphicon glyphicon-remove\"></i></button>\n" +
                "</td>\n" +
            "</tr>").appendTo(user_tbl);
        }

		user_tbl.attr("size", page.size);
		user_tbl.attr("total", page.total);

		$("<tr><td colspan='6' style='text-align: center'>" + json.message + "</td></tr>").appendTo(user_tbl);

		if(page.total > 0){
			var opts = {
				num_edge_entries: 1,
				num_display_entries: 5,
				callback: paginationCallback,
				items_per_page: page.size,
				current_page: page.current - 1,
				prev_text: "上一页",
				next_text: "下一页"
			}
			$("#Pagination").pagination(page.total, opts);
        }
    }

	// 分页条回调函数
	function paginationCallback(pageIndex, jQuery){
		var keyword = $("#ipt-keyword").val();
		sendAjaxToGetUser({current: pageIndex + 1, keyword: keyword});
		return false;
    }

	// 表单验证状态改变
    function updateFormGroup(state, message, inputEle){
		var formGroupEle = inputEle.parent(".form-group");
		if(!state){
			formGroupEle.removeClass("has-success");
			formGroupEle.addClass("has-error");
			formGroupEle.children("p").text(message);
        }else{
			formGroupEle.removeClass("has-error");
			formGroupEle.addClass("has-success");
			formGroupEle.children("p").empty();
        }
    }
</script>
</body>
</html>
