<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户维护</title>

    <link th:replace="~{/common/admin-main-common::head}"/>
    <link rel="stylesheet" th:href="@{/static/css/pagination.css}">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">众筹平台 - 用户维护</a></div>
        </div>
        <div th:replace="~{/common/admin-main-common::main-menu-head}"></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" th:insert="~{/common/admin-main-common::main-menu-left}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查询条件</div>
                                <input class="form-control has-success" id="ipt-keyword" type="text" name="keyword" placeholder="请输入查询条件">
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning" id="btn-keyword-select">
                            <i class="glyphicon glyphicon-search"></i> 查询
                        </button>
                    </form>
                    <button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><i
                            class=" glyphicon glyphicon-remove"></i> 删除
                    </button>
                    <button type="button" class="btn btn-primary" style="float:right;" id="btn-admin-save">
                        <i class="glyphicon glyphicon-plus"></i> 新增
                    </button>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tbl-users">
                            <thead>
                            <tr>
                                <th width="30" id="data-id">#</th>
                                <th width="30"><input type="checkbox"></th>
                                <th id="data-loginAcct">账号</th>
                                <th id="data-userName">名称</th>
                                <th id="data-email">邮箱地址</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <!--<tbody th:if="*{total != 0}">
                            <tr th:each="admin : *{records}">
                                <td th:text="${admin.id}"></td>
                                <td><input type="checkbox"></td>
                                <td th:text="${admin.loginAcct}"></td>
                                <td th:text="${admin.userName}"></td>
                                <td th:text="${admin.email}"></td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs"><i
                                            class=" glyphicon glyphicon-check"></i></button>
                                    <button type="button" class="btn btn-primary btn-xs"><i
                                            class=" glyphicon glyphicon-pencil"></i></button>
                                    <button type="button" class="btn btn-danger btn-xs"><i
                                            class=" glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            </tbody>
                            -->
                            <!-- 在此显示用户信息 -->
                            <tbody id="tbody-data">
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" align="center">
                                    <!-- 在此标签内显示分页数据 -->
                                    <div id="Pagination" class="pagination">

                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- 新增admin模态框 -->
    <div th:replace="~{/common/modal-common::modal-admin-save}"></div>
    <!-- 修改admin模态框 -->
    <div th:replace="~{/common/modal-common::modal-admin-update}"></div>
</div>
<div th:replace="~{/common/admin-main-common::script}"></div>
<script type="text/javascript" th:src="@{/static/js/jquery.pagination.js}"></script>
<script type="text/javascript" th:src="@{/static/script/table-data-generator.js}"></script>
<script type="text/javascript">
    ajaxReqURL = "/admin/main/user";

	$(function(){
		// 页面初始化
		window.current = 1;
		window.size = 10;
		window.keyword = "";
		window.pageURL = "user";
		window.total = 0;
		generateData();

		// 查询框单击事件
		$("#btn-keyword-select").click(function(){
			var keyword = $("#ipt-keyword").val();
			window.current = 1;
			window.keyword = keyword;
			generateData();
        });

        // 删除单条记录
        $("tbody").on("click", "i[class*=glyphicon-remove]", function(){
			var id = $(this).parents("tr").children("td:first").text();
			var acct = $(this).parents("tr").children("td:eq(2)").text();

			if(!confirm("确定删除" + acct + "？")) return false;

			$.ajax({
				url: "user/" + id,
				type: "POST",
				data: {_method: "DELETE"},
				success: function(json){
					generateData();
					layer.msg(json.message)
				},
				error: function(json){
					layer.msg("删除失败！原因：" + json.message)
				},
				dataType: "json",
			});
        });

		// 新增按钮单击弹出模态框
		$("#btn-admin-save").click(function(){
            $("#modal-admin-save").modal({backdrop: false});
		});
		
		// 修改按钮单击弹出模态框
        $("tbody").on("click", "i[class*=glyphicon-pencil]", function(){
			var id = $(this).parents("tr").children(":first").text();
			/*$.getJSON(ajaxReqURL + "/" + id, null, function(json){
                var loginAcct = json.data.admin.loginAcct;
                var username = json.data.admin.userName;
                var email = json.data.admin.email;
                $("#ipt-update-loginAcct").val(loginAcct);
                $("#ipt-update-username").val(username);
                $("#ipt-update-email").val(email);
                $("#ipt-update-id").val(id);
            });*/
			// 同步请求回显数据
			$.ajax({
				url: "user" + "/" + id,
				type: "GET",
				dataType: "json",
				async: false,
				success: function(json){
					var loginAcct = json.data.admin.loginAcct;
					var username = json.data.admin.userName;
					var email = json.data.admin.email;
					$("#ipt-update-loginAcct").val(loginAcct);
					$("#ipt-update-username").val(username);
					$("#ipt-update-email").val(email);
					$("#ipt-update-id").val(id);
				}
			})
			$("#modal-admin-update").modal({backdrop: false});
        })

		// 以下为模态框表单失去焦点事件
		$("#ipt-save-username").add("#ipt-update-username").blur(function(){
			var username = $(this).val();
			var regex = /^[\u4E00-\u9FA5A-Za-z0-9_]{4,12}$/;
			updateFormGroup(regex.test(username), "昵称必须由字母数字下划线组成，并且长度在4~12之间！", $(this));
		});
		$("#ipt-save-loginAcct").blur(function(){
            var loginAcct = $(this).val();
		    var regex = /^[A-Za-z0-9]{8,16}$/;

			updateFormGroup(regex.test(loginAcct), "账号只能由字母和数字组成，并且长度在8~16之间！", $(this));
		});
		$("#ipt-save-password").blur(function(){
			var password = $(this).val();
			var regex = /^.{6,18}$/;
			updateFormGroup(regex.test(password), "密码长度必须在6~18位之间！", $(this));
        });
		$("#ipt-save-password-cfm").blur(function(){
            var passwordCfm = $(this).val();
			var password = $("#ipt-save-password").val();
			var state = false;
			var message = "";

			if(!password) message = "请输入密码！";
			else if(passwordCfm !== password) message = "确认密码与密码不一致！";
			else state = true;

			updateFormGroup(state, message, $(this));
		});
		$("#ipt-save-email").add("#ipt-update-email").blur(function(){
			var email = $(this).val();
			var regex = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
			updateFormGroup(regex.test(email), "邮箱格式不正确！", $(this));
		})

		// 新增admin表单提交
		$("#modal-admin-save .modal-footer").children(".btn-success").click(function(){
			var form = $("#modal-admin-save form");
			if(!checkFormData(form)) return;

			// 发送请求，添加admin
			$.ajax({
				url: "user",
				type: "POST",
				data: form.serialize(),
				success: function(json){
					alert(json.message);
					$("#modal-admin-save").modal("hide");

					// 跳转到最后一页
					window.current = Math.floor(window.total / window.size + 1);
					generateData();
				},
				error: function(json){

					// 提示错误消息
					json = JSON.parse(json.responseText);
					updateFormGroup(false, json.message, $("#ipt-save-loginAcct"));
				}
			});

		});

		// 修改admin表单提交
		$("#modal-admin-update .modal-footer").children(".btn-success").click(function(){
			var form = $("#modal-admin-update form");
			if(!checkFormData(form)) return;

			// 发送请求，修改admin
			var id = $("#ipt-update-id").val();
			$.ajax({
				url: "user" + "/" + id,
				type: "POST",
				data: form.serialize() + "&_method=PUT",
				success: function(json){
					alert(json.message);
					$("#modal-admin-update").modal("hide");

					// 跳转到当前页
					generateData();
				},
				error: function(json){

					// 提示错误消息
					json = JSON.parse(json.responseText);
					alert(json.message);
				}
			});

		});

	});
</script>
</body>
</html>
