<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户维护</title>

    <link th:replace="~{common/admin-main-common::head}"/>
    <link rel="stylesheet" th:href="@{/static/css/pagination.css}">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">众筹平台 - 用户维护</a></div>
        </div>
        <div th:replace="~{common/admin-main-common::main-menu-head}"></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" th:insert="~{common/admin-main-common::main-menu-left}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查询条件</div>
                                <input class="form-control has-success" id="ipt-keyword" type="text" name="keyword" placeholder="请输入查询条件">
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning" id="btn-keyword-select">
                            <i class="glyphicon glyphicon-search"></i> 查询
                        </button>
                    </form>
                    <button type="button" class="btn btn-danger" id="btn-admin-remove" style="float:right;margin-left:10px;"><i
                            class=" glyphicon glyphicon-remove"></i> 删除
                    </button>
                    <button type="button" class="btn btn-primary" style="float:right;" id="btn-admin-save">
                        <i class="glyphicon glyphicon-plus"></i> 新增
                    </button>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tbl-users">
                            <thead>
                            <tr>
                                <th width="30" id="data-id">#</th>
                                <th width="30" id="th-check-all"><input type="checkbox"></th>
                                <th id="data-loginAcct">账号</th>
                                <th id="data-userName">名称</th>
                                <th id="data-email">邮箱地址</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <!-- 在此显示用户信息 -->
                            <tbody id="tbody-data">
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" align="center">
                                    <!-- 在此标签内显示分页数据 -->
                                    <div id="Pagination" class="pagination">

                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- 新增admin模态框 -->
    <div th:replace="~{common/modal-common::modal-admin-save}"></div>
    <!-- 修改admin模态框 -->
    <div th:replace="~{common/modal-common::modal-admin-update}"></div>
    <div th:replace="~{common/modal-common::modal-remove}"></div>
    <div th:replace="~{common/modal-common::modal-assign}"></div>
</div>
<div th:replace="~{common/admin-main-common::script}"></div>
<script type="text/javascript" th:src="@{/static/js/jquery.pagination.js}"></script>
<script type="text/javascript" th:src="@{/static/script/crowd.js}"></script>
<script type="text/javascript" th:src="@{/static/script/table-data-generator.js}"></script>
<script type="text/javascript">
    ajaxReqURL = "/admin/main/user";

	$(function(){
		// 页面初始化
		window.current = 1;
		window.size = 10;
		window.keyword = "";
		window.pageURL = "user";
		window.total = 0;
		generateData();
		$("#form-assign-role").appendTo($("#modal-assign .modal-body"));
		$("#modal-title-assign").text("分配角色");
		var tbody = $("#tbody-data");

		// 查询框单击事件
		$("#btn-keyword-select").click(function(){
			var keyword = $("#ipt-keyword").val();
			window.current = 1;
			window.keyword = keyword;
			generateData();
        });

        // 删除单条记录
        tbody.on("click", "i[class*=glyphicon-remove]", function(){
			var id = $(this).closest("tr").children("td:first").text();
			var acct = $(this).closest("tr").children("td:eq(2)").text();

			if(!confirm("确定删除" + acct + "？")) return false;

			$.ajax({
				url: "user/" + id,
				type: "POST",
				data: {_method: "DELETE"},
				success: function(json){
					generateData();
					layer.msg(json.message)
				},
				error: defaultErrorCallback,
				dataType: "json",
			});
        });

		// 新增按钮单击弹出模态框
		$("#btn-admin-save").click(function(){
            $("#modal-admin-save").modal({backdrop: false});
		});

		// 重置按钮
		$("#btn-admin-reset").click(function(){$("#btn-admin-reset0").click()});
		
		// 修改按钮单击弹出模态框
        tbody.on("click", "i[class*=glyphicon-pencil]", function(){
			var id = $(this).closest("tr").children(":first").text();
			// 同步请求回显数据
			$.ajax({
				url: "user" + "/" + id,
				type: "GET",
				dataType: "json",
				async: false,
				success: function(json){
					var loginAcct = json.data.admin.loginAcct;
					var username = json.data.admin.userName;
					var email = json.data.admin.email;
					$("#ipt-update-loginAcct").val(loginAcct);
					$("#ipt-update-username").val(username);
					$("#ipt-update-email").val(email);
					$("#ipt-update-id").val(id);
				}
			})
			$("#modal-admin-update").modal({backdrop: false});
        })

		// 以下为模态框表单失去焦点事件
		$("#ipt-save-username").add("#ipt-update-username").blur(function(){
			var username = $(this).val();
			var regex = /^[\u4E00-\u9FA5A-Za-z0-9_]{4,12}$/;
			updateFormGroup(regex.test(username), "昵称必须由字母数字下划线组成，并且长度在4~12之间！", $(this));
		});
		$("#ipt-save-loginAcct").blur(function(){
            var loginAcct = $(this).val();
		    var regex = /^[A-Za-z0-9]{8,16}$/;

			updateFormGroup(regex.test(loginAcct), "账号只能由字母和数字组成，并且长度在8~16之间！", $(this));
		});
		$("#ipt-save-password").blur(function(){
			var password = $(this).val();
			var regex = /^.{6,18}$/;
			updateFormGroup(regex.test(password), "密码长度必须在6~18位之间！", $(this));
        });
		$("#ipt-save-password-cfm").blur(function(){
            var passwordCfm = $(this).val();
			var password = $("#ipt-save-password").val();
			var state = false;
			var message = "";

			if(!password) message = "请输入密码！";
			else if(passwordCfm !== password) message = "确认密码与密码不一致！";
			else state = true;

			updateFormGroup(state, message, $(this));
		});
		$("#ipt-save-email").add("#ipt-update-email").blur(function(){
			var email = $(this).val();
			var regex = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
			updateFormGroup(regex.test(email), "邮箱格式不正确！", $(this));
		});

		// 全选/全不选框单击事件
		var checkAll = $("#th-check-all").children();
		checkAll.click(function(){
			tbody.find("input[type=checkbox]").prop("checked", $(this).prop("checked"));
		})
		// 选择框单击事件
		tbody.on("click", "input[type=checkbox]", function(){
			var checked = tbody.find("input[type=checkbox]");
			checkAll.prop("checked", checked.length === checked.filter(":checked").length);
		})

		// 批量删除单击事件
		$("#btn-admin-remove").click(function(){
			var checked = tbody.find("input[type=checkbox]:checked");

			if(!checked.length){
				layer.msg("请选择要删除的管理员！");
				return false;
			}

			var ids = [];
			checked.each(function(index, element){
				var tr = $(element).parents("tr");
				var id = tr.children().first().text();
				ids.push(id);
			});
			var result = getList(ids, "user");
			if(result.status !== 200){
				layer.msg(result.responseJSON.message);
				return false;
			}
			popRemoveModal(result.responseJSON.data.admins);
		})

		// 新增admin表单提交
		$("#modal-admin-save .modal-footer").children(".btn-success").click(function(){
			var form = $("#modal-admin-save form");
			if(!checkFormData(form)) return;

			// 发送请求，添加admin
			$.ajax({
				url: "user",
				type: "POST",
				data: form.serialize(),
				success: function(json){
					alert(json.message);
					$("#modal-admin-save").modal("hide");
                    $("#btn-admin-reset0").click();
					// 跳转到最后一页
					window.current = Math.floor(window.total / window.size + 1);
					generateData();
				},
				error: function(json){

					// 提示错误消息
					json = JSON.parse(json.responseText);
					updateFormGroup(false, json.message, $("#ipt-save-loginAcct"));
				}
			});

		});

		// 修改admin表单提交
		$("#modal-admin-update .modal-footer").children(".btn-success").click(function(){
			var form = $("#modal-admin-update form");
			if(!checkFormData(form)) return;

			// 发送请求，修改admin
			var id = $("#ipt-update-id").val();
			$.ajax({
				url: "user" + "/" + id,
				type: "POST",
				data: form.serialize() + "&_method=PUT",
				success: function(json){
					alert(json.message);
					$("#modal-admin-update").modal("hide");

					// 跳转到当前页
					generateData();
				},
				error: function(json){

					// 提示错误消息
					json = JSON.parse(json.responseText);
					alert(json.message);
				}
			});

		});

		// 确认删除单击事件
		$("#modal-remove").find(".modal-footer").children("button[class*=btn-success]").click(function(){
			var adminIds = [];
			$("#modal-remove .modal-body").find("li[class=list-group-item]").each(function(index, element){
				var itemId = element.id.substring(8);
				adminIds.push(itemId);
			});

			$.ajax({
				url: "user",
				type: "POST",
				data: {ids: adminIds, _method: "DELETE"},
                dataType: "json",
				success: function(json){
					layer.msg(json.message);
					$("#modal-remove").modal("hide");
					if($("#Pagination").children(":last").hasClass("current") && checkAll.prop("checked")){
						window.current--;
					}
					generateData();
				},
				error: defaultErrorCallback
			})
		});

		// 分配角色单击事件
		tbody.on("click", "i[class*=glyphicon-check]", function(){
			var select_assignedRoles = $("#select-assignedRoles");
			var select_unassignedRoles = $("#select-unassignedRoles");
			// 1、清空列表
			select_assignedRoles.empty();
			select_unassignedRoles.empty();

			// 2、获取admin id，发送请求查询角色分配信息
			var id = $(this).closest("tr").children(":first").text();
			$("#ipt-assign-adminId").val(id);
			$.ajax({
                url: "assign/admin/" + id,
                type: "GET",
                dataType: "json",
                async: false,
                success: function(json){
                    var assigned = json.data.assigned;
					var unassigned = json.data.unassigned;
					// 3、已分配角色回显
					for(var i=0; i<assigned.length; i++){
						var role1 = assigned[i];

						var option1 = $("<option></option>");
						option1.val(role1.id);
						option1.text(role1.name);
						option1.appendTo(select_assignedRoles);
                    }
					// 4、未分配角色回显
                    for(var j=0; j<unassigned.length; j++){
						var role2 = unassigned[j];

						var option2 = $("<option></option>");
						option2.val(role2.id);
						option2.text(role2.name);
						option2.appendTo(select_unassignedRoles);
                    }
				},
                error: defaultErrorCallback
            })

			$("#modal-assign").modal({backdrop: false});
        });

		// 移动角色项
        $("#btn-group-role-assigned").children("button[class*=glyphicon-chevron-right]").click(function(){
			$("#select-unassignedRoles>option:selected").appendTo("#select-assignedRoles");
        });
		$("#btn-group-role-assigned").children("button[class*=glyphicon-chevron-left]").click(function(){
			$("#select-assignedRoles>option:selected").appendTo("#select-unassignedRoles");
        });

		// 分配角色保存，提交数据
		$("#modal-assign .modal-footer>.btn-success").click(function(){
			var opt_assigned = $("#select-assignedRoles").children();

			// 获取admin id
            var adminId = $("#ipt-assign-adminId").val();

			// 获取分配的角色id
			var roleIds = [];
			opt_assigned.each(function(index, element){roleIds.push(element.value);});

			// 发送请求保存
			$.ajax({
                url: "assign/admin/" + adminId,
                type: "POST",
                data: {roleIds: roleIds},
                dataType: "json",
                success: function(json){
					layer.msg(json.message);
					$("#ipt-assign-adminId").val(null);
					$("#modal-assign").modal("hide");
					$("#select-assignedRoles").empty();
					$("#select-unassignedRoles").empty();
                },
                error: defaultErrorCallback
            })
        })

	});

	function popRemoveModal(admins){
		var modal = $("#modal-remove");
		var ul = modal.find(".modal-body").children();
		ul.empty();

		for(var i=0; i<admins.length; i++){
			var loginAcct = admins[i].loginAcct;
			var id = admins[i].id;

			var li = $("<li class='list-group-item'></li>");
			// 将要删除的id绑定到标签上
			li.attr("id", "item-id-" + id);
			li.text(loginAcct);

			li.appendTo(ul);
		}
		modal.modal();
	}
</script>
</body>
</html>
