<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>菜单维护</title>

    <link th:replace="~{/common/admin-main-common::head}"/>
    <link rel="stylesheet" th:href="@{/static/ztree/zTreeStyle.css}">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">众筹平台 - 菜单维护</a></div>
        </div>
        <div th:replace="~{/common/admin-main-common::main-menu-head}"></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" th:insert="~{/common/admin-main-common::main-menu-left}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="glyphicon glyphicon-th-list"></i> 权限菜单列表
                    <div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i
                            class="glyphicon glyphicon-question-sign"></i></div>
                </div>
                <div class="panel-body">
                    <ul id="tree-data" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">帮助</h4>
            </div>
            <div class="modal-body">
                <div class="bs-callout bs-callout-info">
                    <h4>没有默认类</h4>
                    <p>警告框没有默认类，只有基类和修饰类。默认的灰色警告框并没有多少意义。所以您要使用一种有意义的警告类。目前提供了成功、消息、警告或危险。</p>
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>没有默认类</h4>
                    <p>警告框没有默认类，只有基类和修饰类。默认的灰色警告框并没有多少意义。所以您要使用一种有意义的警告类。目前提供了成功、消息、警告或危险。</p>
                </div>
            </div>
            <!--
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            -->
        </div>
    </div>
</div>
<div th:replace="~{/common/modal-common::modal-node}"></div>
<div th:replace="~{/common/admin-main-common::script}"></div>
<div th:replace="~{/common/modal-common::modal-remove}"></div>
<script type="text/javascript" th:src="@{/static/ztree/jquery.ztree.all-3.5.min.js}"></script>
<script type="text/javascript" th:src="@{/static/script/zTree-generator.js}"></script>
<script type="text/javascript" th:src="@{/static/script/crowd.js}"></script>
<script type="text/javascript">
	$(function(){
		// 菜单设置项
        window.treeSettings = {
			// 视图设置
			view: {
				// 自定义节点样式
				addDiyDom: addDiyDomCallback,
				addHoverDom: addHoverDomCallback,
				removeHoverDom: removeHoverDomCallback,
			},
			// 节点数据设置
			data: {
				// 所有的键在此json中声明
				key: {
					// url地址。取消跳转
					url: "#"
				}
			}
		}
		generateTree();

		// 保存要添加子节点的节点的id作为子节点的pid
		var pid = null;
		// 新增子节点单击事件
		$("#tree-data").on("click", ".btn-node-add", function(){
			pid = this.id.substring(5);
			toggleModal(true);
			$("#modal-node").modal({backdrop: false});
			return false;
        });

		// 修改节点单击事件
        $("#tree-data").on("click", ".btn-node-edit", function(){
			var id = this.id.substring(5);
            toggleModal(false, id);
			// 4、打开模态框
			$("#modal-node").modal({backdrop: false});
			return false;
        });

		// 删除节点单击事件
        $("#tree-data").on("click", ".btn-node-remove", function(){
			// 1、获取Node
            var id = this.id.substring(5);
			var node = getNode(id);

			// 2、将node信息回显到模态框的ul列表中
			var modal = $("#modal-remove");
			var ul = modal.find(".modal-body").children();
			ul.empty();

			var li = $("<li class='list-group-item'></li>");
			li.attr("id", "item-id-" + id);
			li.html("<span class='"+ node.icon +"'>"+ node.name +"</span>");
            li.appendTo(ul);

			// 3、弹出模态框
			modal.modal();
			return false;
        })

		// 重置按钮
		$("#btn-node-reset").click(function(){
			$("#btn-node-reset0").click();
        });

		// 检查表单项
        $("#ipt-node-name").blur(function(){
			var name = $(this).val();
			updateFormGroup(name.length, "请输入节点名称！", $(this));
        })
        $("#ipt-node-url").blur(function(){
			var url = $(this).val();
			updateFormGroup(url.length, "请输入节点URL！", $(this));
        });
		$("#ipt-node-icon").children("input").blur(function(){
			var checked = $("#ipt-node-icon").children("input:checked");
			updateFormGroup(checked.length > 0, "请选择节点图标！", $(this));
        });

		// 保存节点单击事件
        $("#btn-node-save").click(function(){
			var form = $("#modal-node").find("form");
            if(!checkFormData(form)) return;
			var data = form.serialize();

			var title = $("#modal-title-node").text();
			switch(title){
				case "新增节点":data += "&pid=" + pid;break;
				case "修改节点": data += "&_method=PUT";break;
				default: layer.msg("请求异常，请稍后再试~");return;
            }

			$.ajax({
                url: "menu",
                type: "POST",
                data: data,
                dataType: "json",
                success: function(json){
                    layer.msg(json.message);
					if(json.result === "SUCCESS"){
						pid = null;
						$("#btn-node-reset0").click();
						$("#modal-node").modal("hide");
						generateTree();
                    }
				},
                error: function(json){
					layer.msg(json.responseJSON.message);
                }
            });
        });

		// 点击确认，执行删除
		$("#modal-remove").find(".modal-footer").children("button[class*=btn-success]").click(function(){
			// 获取所有要删除的节点的id
			var item = $("#modal-remove").find(".modal-body").find("li[class=list-group-item]");
			var id = item.attr("id").substring(8);

			$.ajax({
                url: "menu/" + id,
                type: "POST",
                data: {_method: "DELETE"},
                dataType: "json",
                success: function(json){
					layer.msg(json.message);
					$("#modal-remove").modal("hide");
					generateTree();
                },
                error: function(result){
					layer.msg(result.responseJSON.message);
                }
            });
        });
	});

	/**
     * 切换模态框形态
	 * @param isSave 是否新增
	 * @param id 如果不是，传入当前节点id
	 */
	function toggleModal(isSave, id){
		$("#modal-title-node").text(isSave ? "新增节点" : "修改节点");
		$("#ipt-node-id").prop("disabled", isSave);

		if(isSave){
			$("#btn-node-reset0").click();
		}else{
			/* ---------使用zTree对象获取当前节点json数据--------- */
			// 1、获取zTreeObj对象。需要给定树形结构的ul标签id
			// var zTreeObj = $.fn.zTree.getZTreeObj("tree-data");

			// 2、根据id属性查询节点对象
			// var key = "id";
			// var node = zTreeObj.getNodeByParam(key, id);
            var node = getNode(id);

			// 3、回显表单
			$("#ipt-node-name").val(node.name);
			$("#ipt-node-url").val(node.url);
			// 单选或多选的回显可以将数据放在数组中
			$("#ipt-node-icon").children("input:radio").val([node.icon]);
			$("#ipt-node-id").val(id);
        }
    }

	/**
     * 使用zTree对象获取当前节点json数据
	 * @param id nodeId
	 * @returns {*|null} node节点
	 */
	function getNode(id){
		// 1、获取zTreeObj对象。需要给定树形结构的ul标签id
		var zTreeObj = $.fn.zTree.getZTreeObj("tree-data");
		// 2、根据id属性查询节点对象
		var key = "id";
		return zTreeObj.getNodeByParam(key, id);
    }
</script>
</body>
</html>
